

<div class="row" style="margin-left: 5px; margin-top: 5px;">
    <div class="col-6">
        <h1>About Y</h1>
        <h3>This page contains info about Y</h2>
    </div>
</div>

<div class="row" style="margin-left: 5px;">

    <p> This is a university project for the subject web technolgies with no intention on becoming anything like twitter </p>

</div>