<div class="row" style="margin-left: 5px; margin-top: 5px;">
    <div class="col">
        <h1>Posts Ywitter</h1>
    </div>
</div> 

<div class="row" style="margin-left: 5px; margin-top: 5px;">
    <div class="col-4">
        <div class="row">
            <div class="col border border-2 rounded-start border-black" style="margin: 2px;">
                <p>@username</p>
            </div>
            <div class="col border border-2 rounded-end border-black" style="margin: 2px;">
                <p>Title</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 border border-2 rounded border-black" style="margin: 2px;">
                <p>Content</p>
            </div>
        </div>
        <div class="row">
            <div class="col border border-2 rounded-start border-black" style="margin: 2px;">
                <p>Published</p>
            </div>
            <div class="col border border-2 border-black" style="margin: 2px;">
                <p>Answers</p>
            </div>
            <div class="col border border-2 rounded-end border-black" style="margin: 2px;">
                <p>Likes</p>
            </div>
        </div>
    </div>
</div>